<a href="https://colab.research.google.com/github/JustineKateAlbero/CPEN65-1/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Accessing the elements in an array
animals = ["cat", "dog", "fish"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array[0]=",x)
print("Array[1]=",y)
print("Array[2]=",z)

Array[0]= cat
Array[1]= dog
Array[2]= fish

In [2]:
#Modifying the element/s in an Array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
x = animals[0]
print("Array[0]=",x)
print(animals)

Array[0]= monkey
['monkey', 'dog', 'fish']

In [3]:
#Length of the Array (counting the elements in an array)
animals = ["monkey", "dog", "fish","cat","bird"]
v = len(animals)
print(v)

5

In [4]:
#Looping Array Elements
animals = ["monkey", "dog", "fish","cat","bird"]
for x in animals:
  print(x)

monkey
dog
fish
cat
bird

In [5]:
#Looping Array Elements part 2
animals = ["monkey", "dog", "fish","cat","bird"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 bird

In [6]:
#Adding elements in an array
animals = ["monkey", "dog", "fish","cat","bird"]
animals.append("tiger")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'bird', 'tiger']

In [7]:
#inserting an element in an array
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.insert(1,11)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#deleting an element in an array
#numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers)
numbers.pop(1)
print(numbers)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
animals = ["monkey", "dog", "fish","cat","bird"]
animals.reverse()
print(animals)

['bird', 'cat', 'fish', 'dog', 'monkey']